*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --gradient: linear-gradient(45deg, rgb(102, 153, 25), #2bb673);
  --green1: rgb(102, 153, 25);
  --green2: #2bb673;
}

#dark,
:root:has(#dark:checked){
  --theme-color: #131313;
  --text-color: rgba(255, 255, 255, 0.671);
  --opacity-color: rgba(255, 255, 255, 0.2);
  --contrast-color: rgba(247, 247, 247, 0.89);
  --bg-color: #121211;
  --bg-image: url(./assets/nebula.png);
  --input-icon: url(./assets/galaxy-icon.png);
  --text-shadow: 0px 0px 1px rgb(102, 153, 25);
}
#light,
:root:has(#light:checked){
  --theme-color: #121212
  --text-color: #b17e10b9;
  --opacity-color: rgba(22, 17, 17, 0.288);
  --contrast-color: rgba(13, 13, 13, 0.8);
  --bg-image: url(./assets/sky.png);
  --input-icon: url(./assets/sun-icon.png);
  --text-shadow: 1px 1px 8px rgb(53, 151, 28);
}


body{
  height: 100vh;
  width: 100vw;
  background-image: var(--bg-image);
  background-attachment: fixed;
  font-family: sans-serif;
  overflow-x: hidden;
}

/*_________________ Login _________________*/

.login-container{
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .background-exit{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( rgba(0, 0, 0),rgb(37, 37, 37));
  opacity: 60%;
}

.forms-container{
  z-index: 11;
  transition: transform 0.3s;
  transform: translateX(500%);
  color: rgba(20, 20, 20, 0.904);
  max-width: 360px;
  width: 100%;
  border: green 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, rgb(102, 153, 25), #2bb673);
  border: black 1px solid;
  border-radius: 2%;
  box-shadow: 0 5px 10px var(--opacity-color);
}
.forms-container .form{
  padding: 30px;
  width: 100%;
}
.forms-container .login{
  transition: transform 0.4s;
}
.forms-container .register{
  transition: transform 0.4s;
  transform: rotate3d(0, 1, 0, var(--deg-))
}

.forms-container .form .title{
  font-size: 27px;
  font-weight: 600;
  position: relative;
}
.form .input-field{
  position: relative;
  margin-top: 30px;
  height: 50px;
  width: 100%;
}
.form .input-field input{
  font-size: 16px;
  border-radius: 4px;
  text-indent: 5px;
  width: 100%;
  height: 100%;
  border: none;
  padding: 15px 27px;
  outline: none;
  border-bottom: #121211 2px solid;
  border-top: transparent 1px solid;
  transition: all 0.2s ease;
}
.form .input-field input:focus ~ i{
  color: rgba(55, 170, 20, 0.9);
}
.form .input-field i{
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-55%);
  padding-left: 5px;
  transition: all 0.2s ease;
}

.check-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 10px 0 0;
}
.check-box input{
  accent-color: rgb(76, 126, 1);
}
.form a{
  color: rgba(2, 78, 243, 0.9);
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.form .submit input{
  font-weight: 500;
  cursor: pointer;
  background-size: 300% 100%;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, rgb(125, 187, 32), #40e471, rgb(33, 145, 61), #2a8f37)
}
.form .submit input:hover{
  background-position: 100% 0;
  transition: all .4s ease;
}
.form .login-signup{
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
.login-signup a{
  cursor: pointer;
}


/*_________________ Header _________________*/

#header-container{
  height: 120px;
}

header{
  position: fixed;
  background-color: transparent;
  background-size: cover;
  z-index: 1;
  font-family: sans-serif;
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: space-between;
  padding: 10px 40px;
}

header .logo{
  display: flex;
  gap: 30px;
  color: white;
  align-items: center;
}

.logo p{
  flex: 1;
  text-align: center;
  color: var(--contrast-color);
  letter-spacing: -2px;
  font-family: 'Syne Mono', monospace;
  font-size: 30px;
}

.logo img{
  margin-top: 5px;
  width: 100px;
  height: 100px;
  border-radius: 35%;
}

nav{
  display: flex;
  width: 38em;
  justify-content: space-evenly;
  align-items: center;
}

nav .nav-menu{
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}
nav .nav-menu a{
  scroll-margin-top: 100px;
  text-decoration: none;
  color: var(--contrast-color);
  text-shadow: var(--text-shadow);
}
nav .nav-menu a:hover{
  color: rgb(4, 148, 76)
}
nav button{
  color: var(--contrast-color);
  background-image: var(--gradient);
  box-shadow: 0px 0px 10px var(--contrast-color);
  border-color: var(--contrast-color);
  background-size: 300%;
  
  font-size: 18px;
  margin-left: 80px;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
  /*_________________ ASIDE _________________*/

#header-container .aside-container{
  position: fixed;
  color: var(--contrast-color);
  border: 1px dashed white;
  width: 180px;
  height: 87vh;
  margin-top: 120px;
  padding: 10px;
}

.aside-container aside{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.aside-container .aside-title{
  font-family: 'Syne Mono', monospace;
  text-align: center;
  margin: 10px 0;
}
  /*_________________ ASIDE CONTENT _________________*/

.aside-container .aside-content{
  border: 3px dashed blue;
  width: 100%;
  margin: 10px 0;
  flex: 5;
  color: var(--text-color);

  display: flex; 
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  text-align: center;
  transition: all 0.3s;
}

.aside-content .button-aside{
  border: dashed green 1px;
  border-radius: 5%;
  z-index: 4;
}

.aside-content .games-tab{
  border: red solid 1px;
  transform: translateY(-100%);
  z-index: 3;
}



  /*_________________ Theme Switcher _________________*/

aside .theme-switcher{
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px  ;
}
.theme-switcher li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switcher li i{
  position: absolute;
  font-size: 30px;
  pointer-events: none;
}

.theme-switcher input{
  appearance: none;

  border: 1px solid rgba(0, 0, 0, 0.308);
  box-shadow: 0 0 3px black;
  border-radius: 50%;

  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.theme-switcher input:checked{
  background-image: var(--gradient);
}

.theme-switcher input:hover ~ i{
  transition: all 0.3s;
  text-shadow: 0 0 5px var(--contrast-color);
}


/*_________________ CURRENT PAGE _________________*/

  #main-container{
    position: relative;
    font-family: 'Syne Mono', monospace;
    display: flex;
    min-height: 100vh;
    gap: 1rem;
    margin: 10px 30px 0 190px;
  }

/*_________________ MAIN _________________*/


main{
  border-radius: 5px;
  flex: 7;
  display: flex;
  flex-direction: column;
  text-shadow: var(--text-shadow);
  color: var(--text-color);
}

main h1:nth-child(1){
  font-size: 35px;
  text-align: center;
}


main section:nth-child(1){
  height: 800px;  
}
main section:nth-child(2){
  height: 800px;  
}
main section:nth-child(3){
  background-color: rgba(143, 129, 53, 0.308);
  height: 800px;  
}
main section:nth-child(4){
  text-align: center;
}
main section:nth-child(5){
  background-color: rgba(58, 204, 167, 0.308);
  height: 800px;  
}

  /*_________________ SECTION 4 _________________*/

main .developers-container{
  border: 2px green dashed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  gap: 18px ;
}

.developers-container .developer{
  width: 270px;
  height: 400px;
  border: var(--contrast-color) solid 2px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--opacity-color);
}

.developer img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--contrast-color);
  background-size: contain;
  margin-bottom: 10px;
}
.developer h3{
  flex: 0.5;
}
.developer p{
  font-size: 14px;
  flex: 3;
}
.developer .developer-p-links{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}
.developer-p-links a{
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--contrast-color);
  border-radius: 20%;
  box-shadow: 1px 1px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: all 0.3s;
}
.developer-p-links a:hover{
  transform: scale(1.1);
  background-color: var(--opacity-color);
  text-shadow: 0 0 25px white;
}




  /*_________________ VIDEOS _________________*/

#videos-container{
  flex: 1;
}

#videos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 235px;
  height: 600px;
}

#videos video{
  border: 2px var(--contrast-color) solid;
  box-shadow: 0 0 5px var(--contrast-color);
  height: 157px;
  border-radius: 5px;
  transition: all 0.3s;
}

#videos video:hover{
  z-index: 6;
  transform-origin: right;
}

#videos video:nth-child(1){
  transform-origin: top right;
}

footer{
  flex: 1;
}

  /*_________________ Utility _________________*/

.hidden{
  display: none !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: var(--bg-image);
  z-index: 4;
}

.sticky + #container {
  padding-top: 100px;
}

.border{
  border: 2px dashed gold !important;
}








  /* Flex basis */


/* Transforma o conteudo em uma parte da flex box (10%)

.main-box div{
  border: 1px solid;
  flex-basis: 10%; ← ← ←
} */


  /* Flex Grow */


/* Faz com que o conteudo que recebe o flex-grow, ocupe TODO o espaço vazio
  
.main-box div:nth-child(3){
  flex-grow: 1; ← ← ← 1 fração do espaço vazio
  }
.main-box div:nth-child(1){
    flex-grow: 2; ← ← ← 2 frações do espaço vazio
  }


  /* Flex Shrink */


/* Espreme os conteudos que recebem a propriedade, caso eles estejam apertadinhos  */

/* .main-box div:nth-child(2){
  flex-shrink: 0; ← ← ←
} 
0 = joga o resto pra fora
1 = padrão
2 = aperta ao maximo*/


  /* Shorthand Flex */

  /* .main-box div{
    border: 1px solid;
    flex: 0 1 20%  ← ← ← Grow Shrink Basis
  } */

